.app-login-wrapper .background {
  -webkit-transition: all 2s ease;
  /* Safari */
  transition: all 2s ease; }

.app-login-wrapper .background {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute; }

.app-login-wrapper .background.ng-hide {
  opacity: 0; }

.app-login-wrapper .logo-wrapper {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 74px;
  height: 74px;
  top: 55px;
  background: white; }

.app-login-wrapper .welcome-wrapper {
  z-index: 1;
  line-height: normal;
  position: relative;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  top: 75px;
  font-size: 36px;
  color: white; }

.app-login-wrapper .welcome-message {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 70%;
  top: 100px;
  font-size: 18px;
  color: white; }

.app-login-wrapper .login-button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 80px;
  z-index: 1;
  text-align: center; }
  .app-login-wrapper .login-button-wrapper span {
    color: white;
    font-size: 18px; }
  .app-login-wrapper .login-button-wrapper .social-login-wrapper {
    left: 24%;
    position: relative; }
    .app-login-wrapper .login-button-wrapper .social-login-wrapper .social-button {
      margin-right: 35px;
      margin-top: 20px;
      float: left;
      width: 86px;
      height: 86px;
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 10px; }
      .app-login-wrapper .login-button-wrapper .social-login-wrapper .social-button img {
        -webkit-user-drag: none;
        display: block;
        margin: auto;
        padding-top: 12px; }
      .app-login-wrapper .login-button-wrapper .social-login-wrapper .social-button span {
        text-align: center;
        font-size: 15px;
        width: initial; }

.app-login-wrapper .sign-up-wrapper {
  position: absolute;
  bottom: 35px;
  width: 75%;
  left: 0;
  margin: auto;
  right: 0; }
  .app-login-wrapper .sign-up-wrapper span {
    width: 50%;
    display: block;
    float: left;
    font-size: 18px;
    color: white;
    text-align: center; }
  .app-login-wrapper .sign-up-wrapper .fucking-pipe {
    z-index: -1;
    width: 100%;
    position: absolute; }

.app-login-wrapper .information {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  width: 25px;
  height: 25px; }
